nav {

    background-color: 	#ff0063;
}
img {
    padding-top: 5px;
}
.submenu{
	font-size: 27px;
	font-weight: bold;
	color: rgba(201, 131, 131, 0.87);
}
.titulochamada{
	font-size: 28px;
}
.nome{
	font-size: 35px;
	margin-left: 60px;

}
.parallax-container {
    height: 300px;
}
.btn i, .btn-large i, .btn-small i, .btn-floating i, .btn-large i, .btn-small i, .btn-flat i {

    margin-top: 4px;
}
/*css para mudar a cor do botao de whatsApp*/
.btn, .btn-large, .btn-small {

    background-color: #358639;
    
}
.atendimento{
	font-weight: bold;
}
.horas{
	font-size: 18px;
}
.parallax-container {
    height: 300px;
    margin-top: -20px;
}
.tutulo{
	font-weight: bold;
	font-size: 30px;
}
.mapa{
	margin-left: 120px;
}
.corpo{
	width: 1260px;
	margin-left: 80px;
}
.conteudo{
	display: table;
}
.imagem{
	display: table-cell;
	float: left;
}
.texto{
	display: table-cell;
	float: left;
	width: 300px;
	margin-top: 0px;
	margin-left: 20px;
}

.cont2{
	background-color:#966C30;
}
.numero{
	font-weight: bold;
}
.map{
	position: relative;
	padding-bottom: 66.6666667%;
	height: 0;
}
.map iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
